<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.admin.modal.mapper.AdminMapper">

   <select id="selectAdminHash">
   SELECT EMP_PW 
   FROM EMPLOYEE 
   WHERE EMP_NO =#{empNo}
   </select>
   
   <select id="fetchDeptList" resultType="map">
   SELECT DEPT_CODE AS deptCode, DEPT_NAME AS deptName
   FROM DEPARTMENT
   </select>
   
   <select id="fetchPositionList" resultType="map">
   SELECT POSITION_CODE AS positionCode, POSITION_NAME AS positionName
   FROM POSITION
   </select>
   
</mapper>
